.conatiner{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    width: auto;
    border: 2px solid black;
    border-radius: 21px;
}
button{
    font-size: 40px;
    background-color: yellowgreen;
    width: 102px;
    height: 58px;
    border-radius: 21px;
}
.calculator{
 
    display: inline-block;
}